body{
    background-color: #1abc9c;
}
figure{
  width ="120" 
  height="200

}
#container2{
  border: 2px solid;
  background-color: #e67e22;
}
footer{
	border: 2px solid;
	background-color: #e67e22;
}